.link {
  text-decoration: none !important;
  color: black !important;
  font-size: 17px;
  margin: 10px;

}

.linkNav {
  text-decoration: none !important;
  font-size: 18px;
  margin: 10px;
  color: white;
}
